In [ ]:
dictionary = {'марафон': 'гонка бегунов длиной около 26 миль',
'персона': 'человек',
'бежал': 'бежать в прошедшем времени',
'бежать': 'двигаться со скоростью',
'туфля': 'род обуви, закрывающей ногу не выше щиколотки',
'туфли': 'туфля во множественном числе'}


for i in enumerate(dictionary):
  print(i)

(0, 'марафон')
(1, 'персона')
(2, 'бежал')
(3, 'бежать')
(4, 'туфля')
(5, 'туфли')

In [ ]:
a = [1, 2, 3, 4, 5, 6]

def pow_(x):
  return x ** 2

b = list(map(pow_, a))

print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
a = [1, 2, 3, 4, 5, 6]
b = list(filter(lambda x: True if x % 2 == 0 else False, a))
print(f'{b = }')

c = list(filter(lambda x: x % 2, a)) # a - это список для работы, x % 2 - если 
# остаток от деления элемента на 2 остаток будет 0 - значит false - значит
# элемент отфильтровывается, если 1 - входит в новый список. ТО нечетные входят,
# четные - нет. Если надо наоборот - нужно not перед x % 2
print(f'{c = }')

b = [2, 4, 6]
c = [1, 3, 5]

In [ ]:
a = [(1, 0, 5), (3, 0, 4), (-5, -1, 3), (5, -2, 2)]
a.sort(key = lambda x: (x[1], x[2])) # сортировка по 1-му элементу, 
                                     # а если равны то по 2-му
print(a)

a.sort(key = lambda x: (x[1], x[2]), reverse = True)
# если надо в обратном порядке
print(a)


maxx = max(a, key=lambda x: x[2])  # сортировка по последнему элементу в кортеже
print(maxx)

[(5, -2, 2), (-5, -1, 3), (3, 0, 4), (1, 0, 5)]
[(1, 0, 5), (3, 0, 4), (-5, -1, 3), (5, -2, 2)]
(1, 0, 5)

## Задача №49. Решение в группах

Планеты вращаются вокруг звезд по эллиптическим орбитам.
Назовем самой далекой планетой ту, орбита которой имеет
самую большую площадь. Напишите функцию
find_farthest_orbit(list_of_orbits), которая среди списка орбит
планет найдет ту, по которой вращается самая далекая
планета. Круговые орбиты не учитывайте: вы знаете, что у
вашей звезды таких планет нет, зато искусственные спутники
были были запущены на круговые орбиты. Результатом
функции должен быть кортеж, содержащий длины полуосей
эллипса орбиты самой далекой планеты. Каждая орбита
представляет из себя кортеж из пары чисел - полуосей ее
эллипса. Площадь эллипса вычисляется по формуле 

  S = pi \* a \* b,

где a и b - длины полуосей эллипса. При решении задачи
используйте списочные выражения. Подсказка: проще всего
будет найти эллипс в два шага: сначала вычислить самую
большую площадь эллипса, а затем найти и сам эллипс,
имеющий такую площадь. Гарантируется, что самая далекая
планета ровно одна

Ввод: 
  orbits = [(1, 3), (2.5, 10), (7, 2), (6, 6), (4, 3)]


print(*find_farthest_orbit(orbits))

Вывод:

  2.5 10

In [ ]:
from math import pi

orbits = [(1, 3), (2.5, 10), (7, 2), (6, 6), (4, 3)]

def find_farthest_orbit(list_of_orbits):
  maxx = max(list(filter(lambda x: x[0] != x[1], list_of_orbits)), 
             key=lambda x: pi * x[0] * x[1])
  print(*maxx)

find_farthest_orbit(orbits)

2.5 10

Задача №51. Решение в группах


Напишите функцию same_by(characteristic, objects), которая
проверяет, все ли объекты имеют одинаковое значение
некоторой характеристики, и возвращают True, если это так.
Если значение характеристики для разных объектов
отличается - то False. Для пустого набора объектов, функция
должна возвращать True. Аргумент characteristic - это
функция, которая принимает объект и вычисляет его
характеристику.


Ввод:

values = [0, 2, 10, 6] 


if same_by(lambda x: x % 2, values):

  print(‘same’)

else:

   print(‘different’)

 Вывод:

 same

In [ ]:
values_1 = [0, 2, 10, 6]
foo1 = lambda x: x % 2 == 0

values_2 = [3, 6, 9, 12]

foo2 = lambda x: x % 3 == 0

values_3 = []


def same_by(foo, values):  # lambda x: x % 2
  list_res = list(filter(foo, values))

  print(list_res)
  if len(values) == 0:
    return True
  elif len(list_res) != len(values):
    return False
  else:
    return True

# same_by(foo1, values_1)

# same_by(foo2, values_2)

same_by(foo2, values_3)

[]

True

# Домашнее задание

Задача 34:  Винни-Пух попросил Вас посмотреть, есть ли в его стихах ритм. Поскольку разобраться в его кричалках не настолько просто, насколько легко он их придумывает, Вам стоит написать программу. Винни-Пух считает, что ритм есть, если число слогов (т.е. число гласных букв) в каждой фразе стихотворения одинаковое. Фраза может состоять из одного слова, если во фразе несколько слов, то они разделяются дефисами. Фразы отделяются друг от друга пробелами. Стихотворение  Винни-Пух вбивает в программу с клавиатуры. В ответе напишите “Парам пам-пам”, если с ритмом все в порядке и “Пам парам”, если с ритмом все не в порядке

*Пример:*

**Ввод:** пара-ра-рам рам-пам-папам па-ра-па-да    
    **Вывод:** Парам пам-пам

In [ ]:
def winni(song):
  words = song.split()
  counts = []
  for word in words:
    count = 0
    for letter in word:
      if letter in ['й', 'у', 'е', 'ы', 'а', 'о', 'э', 'я', 'и', 'ю']:
        count += 1
    counts.append(count)

  if len(set(counts)) > 1:
    print('Пам парам')
  else:
    print('Парам пам-пам')

winni('пара-ра-рам рам-пам-папам па-ра-па-да')

winni('пара-ра-рам рам-пам-папам па-ра-па')

winni('тили-тили трали-вали')

Парам пам-пам
Пам парам
Парам пам-пам

Задача 36: Напишите функцию print_operation_table(operation, num_rows=6, num_columns=6), которая принимает в качестве аргумента функцию, вычисляющую элемент по номеру строки и столбца. Аргументы num_rows и num_columns указывают число строк и столбцов таблицы, которые должны быть распечатаны. Нумерация строк и столбцов идет с единицы (подумайте, почему не с нуля). Примечание: бинарной операцией называется любая операция, у которой ровно два аргумента, как, например, у операции умножения.

*Пример:*

**Ввод:** 

`print_operation_table(lambda x, y: x * y) ` 


**Вывод:**


1 2 3 4 5 6


2 4 6 8 10 12

3 6 9 12 15 18

4 8 12 16 20 24

5 10 15 20 25 30

6 12 18 24 30 36

In [ ]:
def print_operation_table(operation, num_rows=6, num_columns=6):
  for r in range(1, num_rows + 1):
    row = [] 
    for c in range(1, num_columns + 1):
      row.append(str(operation(r, c))) 
    print("\t".join(row))

print_operation_table(lambda x, y: x * y)
print('\n')
print_operation_table(lambda x, y: x * y, 8, 8)

1	2	3	4	5	6
2	4	6	8	10	12
3	6	9	12	15	18
4	8	12	16	20	24
5	10	15	20	25	30
6	12	18	24	30	36


1	2	3	4	5	6	7	8
2	4	6	8	10	12	14	16
3	6	9	12	15	18	21	24
4	8	12	16	20	24	28	32
5	10	15	20	25	30	35	40
6	12	18	24	30	36	42	48
7	14	21	28	35	42	49	56
8	16	24	32	40	48	56	64